<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>todo form</title>
</head>
<body>
    <h1>Welcome to todo form App</h1>
    <p>This is a simple Flask app.</p>
    <div class="center">
        <form action="/submittodoitem" method="post">
            <label for="item Name">Item Name:</label>
            <input type="text" id="item_Name" name="item_Name" required>
            <label for="item Description">Item Description:</label>
            <input type="text" id="item_Description" name="item_Description" required>
            <input type="submit" value="Add_Todo">
            <label for="item_ID">Item Status:</label>
            <input type="text" id="item_ID" name="item_ID" required>
            <label for="item_UUID">Item UUID:</label>
            <input type="text" id="item_UUID" name="item_UUID" required>
            <label for="item_Hash">Item CreatedAt:</label>
            <input type="text" id="item_Hash" name="item_Hash" required>
        </form>
    </div>
</body>
<style>
    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin-top: 50px;
    }
    .center {
        display: inline-block;
        text-align: left;
    }
    p {
        font-size: 18px;
    }
</style>
</html>